*{
	margin:0;
	padding: 0;
}
header{
	background-color:#5CBAFF;
	box-shadow: inset 0px 0px 6px 0px #2b9fd6;
}

element.style {
}
.menu img {
    width: 125px;
    padding: 0px 2px;
    margin-bottom: -8px;
}
nav ul{
	text-align:center;
	margin:0;
	margin-right: 10px;
	padding: 25px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 5px;

}
nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size: 14px;
}
sup {
    font-size: 6px;
}
section{
	background-color:#0093FF;
	width: 100%;
	height: 100vh;
}
.banner{
	float:left;
}
.banner img{
	width: 80vh;
	height:100vh;
}
.form_con ul{
	margin: 0;
}
.form_con ul li{
	display: inline-block;
    color: #fff;
    list-style: none;
    margin-right: -10px;
}
.form_con ul li a{
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	font-weight: 600;
}
.form_con{
	width: 300px;
}
.form_con h1{
	color: #FFF;
	font-size: 22px;
	margin-bottom: 5px;
}
.form_con p{
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}
label{
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
input {
    width: 100%;
    padding: 10px 13px;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    margin-top: 6px;
}
input[type="submit"] {
    width: 100px;
    background-color: #fff;
    color: #0093ff;
    cursor: pointer;
}
.form_con ul{
	margin-top: 40px;
}
.from_sec{
	position: relative;

}
.form_con{
	position: absolute;
    left: 60%;
    top: 130px;
}